<!DOCTYPE html>
<html>
<head>
  <title>QueueClassicExample</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<p>
  <h2>Email Jobs: <%= $email_jobs.count %> </h2>
  <h2>Image Jobs: <%= $image_jobs.count %> </h2>
</p>
<%= yield %>

</body>
</html>
